.ball {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-right: 6px;
    text-shadow: 0px 0px 3px rgba(73, 57, 0, 0.8);
}
.ball1 {background: yellow;}
.ball2 {background: blue;}
.ball3 {background: greenyellow;}
.ball4 {background: purple;}
.ball5 {background: red;}
.ball6 {background: orange;}